.customer-page div {
    margin: 20px;
}

.homepage-header {
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 40px;
}

.homepage-header h1 {
    font-size: 110px !important;
    padding: 10px;
    font-family: 'DM sans';
}

.homepage-descripton {
    margin-top: 30px;
}

.store-selection {
    background-color: lightseagreen;
    padding: 50px;
    margin: 0px;
}

h2 {
    font-size: 25px;
}

* {
    font-family: 'DM sans' !important;
}


.store-selection-buttons {
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

.store-selection-button {
    margin: 10px;
    padding: 30px !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    font-size: 25px !important;
}

.store-selection-text {
    color: white;
    text-align: right;
    margin-right: 21px;
    font-size: 50px;
}

.plant-ID-input {
    margin: 0px;
    padding: 0px;
}

.mapper {
    margin: 20px;
    padding: 10px;
}

.mapper h1, .mapper h2 {
    margin-bottom: 20px;
}

.homepage-descripton p{
    font-size: 20px;
}

div[data-lastpass-icon-root] {
    display: none;
  }

.success-message {
    background-color: rgb(201, 227, 201);
    text-align: center;
    color: green;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

