{% extends "layout.html" %}
  {% block body %}
  <div class="container customer-page">
    <div class="row">
        <div class="col-sm">
            {% if message %}
          <div class = "success-message">
            {{message}}
          </div>   
        {% endif %}
            <h1>Admin log-in</h1>
        </div>
        
    </div>
    <div class="row">
        <div class="col">
            <form action="/admin-login" method="post">
                <div class="row" class="api-url-field">
                    <div class="col-3 field-name">
                        Username
                    </div>
                    <div class="col-5 form-group">
                        <input autocomplete="off" autofocus class="form-control" id="admin-username" name="admin-username" placeholder="Username" type="text">
                    </div>
                </div>
                <div class="row" class="api-url-field">
                    <div class="col-3 field-name">
                        Password
                    </div>
                    <div class="col-5 form-group">
                        <input class="form-control" id="admin-password" name="admin-password" placeholder="Password" type="password">
                    </div>
                </div>
                <div class="row">  
                    <div class="col-1 p-0 m-2 admin-button">
                        <button class="btn btn-light btn-outline-dark" type="submit">Log-in</button>
                    </div>
                    <div class="col-1 p-0 m-2 ml-4 admin-button">
                        <button class="btn btn-light btn-outline-dark signup-button" type="button" onclick="window.location.href = '/register';">Sign up</button>  
                    </div>
                </div>
            </form>
        </div>
  </div>


{% endblock %}