{% extends "layout.html" %}
  {% block body %}
<div class="container customer-page">
  <div class="row">
    <div class="col-sm">
      <h1>{{customerFriendly}}</h1>
    </div>
  </div>
  <form action={{customerApi}} method="post">
    <div class="row" class="plantform-field plantform-price">
      <div class="col-4 field-name">
        Plantform.Prijs
      </div>
      <div class="col-8 field-form">
        <div class="col-sm form-group">
          <input name="plantform-price-table" type="text" class="form-control" id="plantform-price-table" placeholder="Table">
        </div>
        <div class="col-sm form-group">
            <input name="plantform-price-column" type="text" class="form-control" id="plantform-price-column" placeholder="Column">
          </div>
        </div>
      </div>
      <div class="row" class="plantform-field plantform-name">
        <div class="col-4 field-name">
          Plantform.Name
        </div>
      <div class="col-8 field-form">
        <div class="col-sm form-group">
          <input name="plantform-name-table" type="text" class="form-control" id="plantform-name-table" placeholder="Table">
        </div>
        <div class="col-sm form-group">
          <input name="plantform-name-column"" type="text" class="form-control" id="plantform-name-column" placeholder="Column">
        </div>
      </div>
    </div>
    <div class="row" class="plantform-field plantform-amount">
      <div class="col-4 field-name">
        Plantform.Amount
      </div>
      <div class="col-8 field-form">
        <div class="col-sm form-group">
          <input name="plantform-amount-table" type="text" class="form-control" id="plantform-amount-table" placeholder="Table">
        </div>
        <div class="col-sm form-group">
          <input name="plantform-amount-column" type="text" class="form-control" id="plantform-amount-column" placeholder="Column">
        </div>
      </div>
    </div>
    <div class="row" class="plantform-field plantform-picture">
      <div class="col-4 field-name">
        Plantform.Picture
      </div>
      <div class="col-8 field-form">
        <div class="col-sm form-group">
          <input name="plantform-picture-table" type="text" class="form-control" id="plantform-picture-table" placeholder="Table">
        </div>
        <div class="col-sm form-group">
          <input name="plantform-picture-column" type="text" class="form-control" id="plantform-picture-column" placeholder="Column">
        </div>
      </div>
    </div>
  <hr>
    <div class="row" class="execute-section">
      <div class="col-sm">
        <div class="form-group plant-ID-input">
          <input name="plant-id" type="text" class="form-control" id="plantid-input" placeholder="Fill in ID">
        </div>
      </div>
    </div>
    <button type="submit">Mapper</button>
  </form>
</div>
  {% endblock %}
