{% extends "layout.html" %}
  {% block body %}
  <div class="homepage">
    <div class="homepage-header">
      <h1>plantform 🌻</h1>
      <div class="homepage-descripton">
        <p>Desciption jdshfdjk sekfher alkhksdfh apwerufehsdfh af sdhfkdsfjksdhfjkdshfkjdsh sudflhslshfhrh sdfkdj iziowe ljsdflkhdsf</p>
        <p> jdshfdjk sekfher alkhksdfh  sdhfkdsfjksdhfjkdshfkjdsh sudflhslshfhrh sdfkdj iziowe ljsdflkhdsf</p>
      </div>
    </div>
    <hr>
    <div class="store-selection">
      <h2 class="store-selection-text">➔ Select the store</h2>
      <div class="store-selection-buttons">
        <a role="button" class="btn btn-light store-selection-button" href="/intratuin">Intratuin</a>
        <a role="button" class="btn btn-light store-selection-button" href="/het_oosten">Het Oosten</a>
      </div>
    </div>
  </div>
  {% endblock %}
